<section class="shadow-2xl p-5 bg-gray-600 overflow-hidden" style="height: calc(100vh - 60px); max-height: calc(100vh - 60px);">
  <div class="p-8 bg-gray-600 h-full">
    <div class="max-w-4xl mx-auto bg-gray-800 p-6 rounded-lg shadow-sm h-full overflow-auto">
      <h2 class="text-4xl font-bold text-slate-200 mb-8">{{ post.title }}</h2>
      <p class="flex items-center mb-6 text-slate-200 text-xl">
        <i class="fas fa-feather-alt mr-2 text-slate-200"></i> {{ post.createdBy }}
      </p>
      <p class="text-slate-200 text-lg mb-8">
        {{ post.content }}
      </p>
      <p class="text-slate-200 text-lg mt-4">
        <i class="far fa-calendar-alt mr-2"></i> {{ convertToBanglaDate(post.createdOn) }} 
      </p>
    </div>
  </div>
</section>
